<!--Content Section-->
<div id="services" class="scrollto clearfix">

  <div class="row no-padding-bottom clearfix">


    <!--Content Left Side-->
    <div class="col-3">
      <!--User Testimonial-->
      <blockquote class="testimonial text-right bigtest">
        <q>“Oh Wow” is what I said when I looked at the website. I absolutely LOVE everything!!! It actually brought tears to my eyes.</q>
        <footer>— John Doe, Happy Customer</footer>
      </blockquote>
      <!-- End of Testimonial-->

    </div>
    <!--End Content Left Side-->

    <!--Content of the Right Side-->
    <div class="col-3">
      <div class="section-heading">
        <h3>{{service.tagline}}</h3>
        <h2 class="section-title">{{service.title}}</h2>
        <p class="section-subtitle">We listen. We advise. We design. Together. Our success is measured by results, the most important being how our clients feel about their experience with us. Happy customers and ongoing relationships are what we strive for. These reviews affirm that we’re onto something!</p>
      </div>
      <p>{{service.description}}</p>
      <!-- Just replace the Video ID "UYJ5IjBRlW8" with the ID of your video on YouTube (Found within the URL) -->
      <a href="#" data-videoid="UYJ5IjBRlW8" data-videosite="youtube" class="button video link-lightbox">
        WATCH VIDEO <i class="fa fa-play" aria-hidden="true"></i>
      </a>
    </div>
    <!--End Content Right Side-->

    <div class="col-3">
      <img src="../assets/images/cat.jpg" alt="Cat" />
    </div>

  </div>


</div>
<!--End of Content Section-->
