<!--Introduction-->
<section id="about" class="introduction scrollto">

  <div class="row clearfix">

    <div class="col-3">
      <div class="section-heading">
        <h3>{{intro.tagline}}</h3>
        <h2 class="section-title">{{intro.title}}</h2>
        <p class="section-subtitle">{{intro.description}}</p>
      </div>

    </div>
   
    <div class="col-2-3">
       
      <!--Icon Block-->
      <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.1s">

          
        <!--Icon Block Description-->
        <div class="icon-block-description">
          <h4>Culture in ePhoto</h4>
          <p>has grown from a 6-person start-up to become a global player in the stock media industry with hundreds of employees and over 160,000 global contributors. What's remained the same is our passion for moving the world with imagery.</p>
        </div>
      </div>
 
      <!--End of Icon Block-->

      <!--Icon Block-->
      <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.3s">

        <!--Icon Block Description-->
        <div class="icon-block-description">
          <h4>We're always looking for people to join our team.</h4>
          <p>Artists are at the heart of everything we do and the reason why ePhoto has continued to be an important destination for stock content. By providing a platform for our artists to distribute some of the best stock content in the world, ePhoto has given them the opportunity to transform their lives by making a living through their art.</p>
        </div>
      </div>
      <!--End of Icon Block-->
    </div>
  </div>


</section>
<!--End of Introduction-->
