<!--Testimonials-->
<aside id="testimonials" class="scrollto text-center" data-enllax-ratio=".2">

  <div class="row clearfix">

    <div class="section-heading">
      <h3>{{testimonial.tagline}}</h3>
      <h2 class="section-title">{{testimonial.title}}</h2>
    </div>

    <!--User Testimonial-->
    <blockquote class="col-3 testimonial classic">
      <img src="../assets/images/user-images/user-1.jpg" alt="User" />
      <q>Your thoughtfulness and support is very much appreciated. I want to assure you that your confidence in us will be justified.</q>
      <footer>John Doe - Happy Customer</footer>
    </blockquote>
    <!-- End of Testimonial-->

    <!--User Testimonial-->
    <blockquote class="col-3 testimonial classic">
      <img src="../assets/images/user-images/user-2.jpg" alt="User" />
      <q>ePhoto is attentive, personable, and professional. Your team provide great support for my company's needs.</q>
      <footer>Roslyn Herzog - Happy Customer</footer>
    </blockquote>
    <!-- End of Testimonial-->

    <!--User Testimonial-->
    <blockquote class="col-3 testimonial classic">
      <img src="../assets/images/user-images/user-3.jpg" alt="User" />
      <q>Always available to answer any questions. Very knowledgeable about the services they provide. Would recommend to anyone!</q>
      <footer>Thomas Lowder - Happy Customer</footer>
    </blockquote>
    <!-- End of Testimonial-->

  </div>

</aside>
<!--End of Testimonials-->
